$mobileBreakpoint            : 320px;
$tabletBreakpoint            : 425px;
$computerBreakpoint          : 768px;
$largeMonitorBreakpoint      : 1024px;

$frist-text-black-color : #000;
$second-text-black-color : #4a4a4a;
$third-text-black-color : #757070;
$fourth-text-black-color : #d4d4d4;

$frist-text-white-color : #fff;
$second-text-white-color : #cccccc;


$frist-text-green-color : #7dbe4b;
$second-text-green-color : #75af48;

$frist-text-red-color : red;

$frist-text-blue-color : blue;